{% extends "base.html" %}
{% block head %}
  {{ super() }}

  <title>{% block title %}{{article.title}} | snufk.in{% endblock %}</title>

  {% block metadata %}
    {% if article.image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{article.image}}">
    <meta name="og:image" content="{{article.image}}">
    {% endif %}

    <meta name="dc:title" content="{{article.title}}">
    <meta name="og:title" content="{{article.title}}">
    <meta name="title" content="{{article.title}}">
    <meta name="type" content="article" />
    <meta name="og:type" content="article" />
    <meta name="twitter:title" content="{{article.title}}">

    {% for tag in article.tags %}
      <meta name="tags" content="{{tag}}" />
      <meta name="og:tags" content="{{tag}}" />
    {% endfor %}
  {% endblock %}
{% endblock %}

{% block titlelink %}
<h1>
  <a href="https://snufk.in/free-music-lessons">
    FREE MUSIC LESSONS
  </a>
  <br>
  <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }} at {{ article.location }}
  </time>
</h1>
{% endblock %}

{% block content %}
<section id="content" class="body">
  {% if article.image %}
  <div class="poster">
    <figure>
      <img src="{{ article.image }}" alt="Event poster for {{ article.title }}"></img>
      {% if article.imagecredit %}
      <figcaption style="text-align: right">Art: {{article.imagecredit}}</figcaption>
      {% endif %}
    </figure>
  </div>
  {% endif %}

  {% if article.price %}
  <div class="price">
    {{ article.price }}
  </div>
  {% endif %}

  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

  {% if article.facebookevent %}
  <div class="facebook-link">
    <a href="{{ article.facebookevent }}">Facebook Event</a>
  </div>
  {% endif %}

  {% if article.location == "Wharf Chambers" %}
  <div class="wharf-disclaimer">
    <p>
      Wharf Chambers is a members’ club and you need to be a member, or guest of
      a member, in order to attend.  Please visit wharfchambers.org/join.
      Membership costs £1 and requires a minimum of 48 hours to take effect.
    </p>
  </div>
  {% endif %}

</section>
{% endblock %}
